:root {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: #2e2323;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: var(--bg-tertiary);
  padding: 0;
  text-align: center;
  margin-top: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 0rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: auto;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: #000004; 
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary:  #f8f8f8;
  --bg-secondary: #cccccc;
  --bg-tertiary:#f8f8f8;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary:  #cac3b1; 
  --bg-tertiary:  #fbeecb;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* Main Page */

.load{
  animation: slide 2s;

}

 .slider{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100vh;
   animation: slide 30s infinite;
 }

.content{
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.5);
}

.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position:absolute;
  letter-spacing: 5px;
  text-align: center;
  }

.principal h1{
  font-size: 70px;
  margin-bottom: 20px;
}

.principal p{
  font-size: 20px;
}

@keyframes slide{
  0%{
    background-image: url('./Images/img-0.jpg');
      }
      20%{
            background-image: url('./Images/img-0.jpg');
      }
      20.01%{ background-image: url('./Images/img-1.jpg');

      } 
      40.0%{ background-image: url('./Images/img-1.jpg');
      }
      40.01%{ background-image: url('./Images/img-2.jpg');

      } 60.0%{ background-image: url('./Images/img-2.jpg');

      }60.1%{ background-image: url('./Images/img-3.jpg');

      }80%{ background-image: url('./Images/img-3.jpg');

      }80.01%{ background-image: url('./Images/img-4.jpg');

      }100%{ background-image: url('./Images/img-4.jpg');
        } 
      }

      /*About Social Menu*/

.social-menu ul{
  position: absolute;
  bottom: 15%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%,-50%);
  display: flex;
}

.social-menu ul li{
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fa{
  font-size: 30px;
  line-height: 60px;
  transition: var(--transition-speed);
  color: var(--text-primary);
}

.social-menu ul li .fa:hover{
  color:#df49a6;
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bg-primary);
  text-align: center;
  transition: var(--transition-speed);
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
  transform: translate(0, -10px)
}


/*linktree*/
.profile-picture img {
  border-radius: 50%;
  }
  .profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 100px;
  }
  .profile-name {
  text-align: center;
  padding: 30px;
  color: var(--text-primary);
  }
  .links {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--text-primary);
  border-width: 2px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  }
 .link-list a {
  text-decoration: none;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: color 1s;
  }
  .bottom-text {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  }
  .link-list a:hover {
  color:#df49a6 ;
  background: var(--bg-primary);
  box-shadow: 0 0px 10px #df49a6;
  }
  

  .bottom-text{
    color: var(--text-primary);
    padding-bottom: 60px;
  }

/*Portfolio*/
.header h1{
  font-size: 60px;
  margin-bottom: 20px;
  color: var(--text-primary) ;
}

.gallery .row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.gallery .row,
.row > .column {
  padding: 7px;
}

/* Create three equal columns that floats next to each other */
.gallery .column {
  float:right;
  width: 45%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.gallery .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.gallery .content {
  background-color: var(--bg-tertiary);
  text-align: center;
  color: var(--text-primary);
  
}

/* The "show" class is added to the filtered elements */
.gallery .show {
  display: block;
}

/* Style the buttons */
.gallery .btn {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.gallery .btn:hover {
  background-color: #ddd;
  box-shadow: 0 0px 10px #df49a6;
}

/* Add a dark background color to the active button */
.gallery .btn.active {
  background-color: #666;
   color: white;
}

@media screen and (max-width: 900px) {
  .gallery .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
 .gallery .column {
    width: 100%;
  }
}